@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Get Prediction</h1>

    <form method="post">
        <div>
            <label for="review">Review:</label>
            <input type="text" id="review" name="review" required />
        </div>
        <button type="submit">Submit</button>
    </form>

    @if (Model.predictionDisplay != null)
    {
        <h2>Prediction Result:</h2>
        <p>@Model.predictionDisplay</p>
    }

    @if (Model.unrecognizedTokens != null) {
        <h2>Unrecognized Tokens:</h2>
        @for(int i = 0; i < Model.unrecognizedTokens.Count(); i++) {
            <p>@($"{i + 1}. {Model.unrecognizedTokens[i]}")</p>
        }
    }
</div>
